.whatWeDo_wrapper {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid white; */
    padding: 1rem 3rem;
    overflow: hidden;
    height: max-content;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.innerWrapper {
    width: 100%;
    border-radius: 6.5rem;
    height: 100%;
    background-color: var(--page-bg-darker);
    border: 1px solid rgba(200, 200, 200, 0.333);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
}

.whatWeDo_title {
    font-size: 4.8rem;
    max-width: 80%;
    font-weight: 600;
    line-height: 110%;
    color: var(--btn-color);

}

.top>p {
    color: white;
}

.howItworks_components_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid white; */
    position: relative;
}

.vertical-centreLine {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border: none;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255), transparent);
}



@media (max-width: 1026px) {
    .whatWeDo_wrapper {
        padding: 1rem 1rem;
        padding-bottom: 2rem;
    }
    
    .innerWrapper {
        border-radius: 70px;
    }

}



@media (max-width: 550px) {

    .whatWeDo_wrapper {
        padding: 1rem 1rem;
        padding-bottom: 2rem;
    }

    .innerWrapper {
        border-radius: 35px;
    }

    .top {
        gap: 1rem;
        padding: 1rem;
        padding-top: 4rem;
        text-align: center;
        font-size: 14px;
    }

    .whatWeDo_title {
        font-size: 13vw;
        max-width: 100%;
    }


    .vertical-centreLine {
        display: none;
    }

    .howItworks_components_wrapper {
        gap: 3rem;
    }
}