.hero_wrapper {
    width: 100vw;
    height: 80vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-align: center;
    gap: 1.5rem;
    z-index: 5;
    box-sizing: border-box;
}

.hero_subBigTxt {
    font-size: 2.3rem;
    max-width: 80%;
    font-weight: 700;
    line-height: 110%;
}

.hero_bigTxt {
    font-size: 4.7rem;
    max-width: 80%;
    font-weight: 700;
    line-height: 110%;
}

.hero_tagline {
    font-size: 1.4rem;
    color: rgb(76, 76, 76);
}



@media (max-width: 550px) {
    .hero_wrapper {
        height: 100vh;
        padding: 1rem;
        color: rgb(0, 0, 0);
        text-align: center;
        gap: 1.5rem;
        z-index: 5;
    }

    .hero_subBigTxt {
        font-size: 8vw;
        max-width: 98%;
    }

    .hero_bigTxt {
        font-size: 12vw;
        max-width: 100%;
    }

    .hero_tagline {
        font-size: 3.4vw;
    }
}