.legalAssistant_wrapper {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
}

.page_content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--page-bg);
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.pageTop {
    height: max-content;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sideBar_trigger {
    cursor: pointer;
    width: fit-content;
}


.la_clearChatBtn {
    font-size: 14px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.la_clearChatBtn:hover {
    text-decoration: underline;
}


.pageBody {
    width: 90%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    align-self: center;
    gap: 1rem;
}

.modelTitle_container {
    height: max-content;
    width: max-content;
    padding: .7rem 3rem;
    border-radius: 20px;
    align-self: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, .3);
}

.interaction_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
}

.chats_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: auto;
    flex: 1;
    padding: .5rem 1rem;
}

.chats_area::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .chats_area::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 2px;
  }

  .chats_area::-webkit-scrollbar-thumb {
    background: #888; /* Scroll thumb color */
    border-radius: 2px;
  }

  .messagesEnd {
    height: 1px;
    width: 1px;
  }

.inputbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--page-bg-darker); */
    background: #000;
    padding: .7rem 1.5rem;
    color: white;
    border-radius: 32px;
    width: 80%;
}


.la_clearChatBtn {
    font-size: 14px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.legalAsst_input {
    outline: none;
    border: none;
}

.sendBtn {
    padding: .7rem;
    background-color: #d3d3d386;
    color: black;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.sendBtn.active {
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.sendBtn.active:hover {
    transform: scale(1.08);
}

.stopBtn {
    padding: .4rem;
    background-color: #d3d3d386;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.stopBtn:hover {
    transform: scale(1.08);
}


@media (max-width: 575px) {

    .chats_area {
        padding: 0;
    }

}