.whoDoWeServe_wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: white;
    position: relative;
}

.serve_topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem;
    /* border: 1px solid white; */
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5;
}

.whoDoWeServe_title {
    font-size: 4.5rem;
    max-width: 80%;
    font-weight: 600;
    line-height: 110%;
    color: var(--btn-color);
}

.serve_topContainer>p {
    font-size: 19px;
    max-width: 50%;
}

.serve_cardsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    padding-top: 4rem;
    height: 100%;
    /* border: 1px solid white; */

    z-index: 5;
}


.centre_blob_serve {
    width: 18vw;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(210px);
    z-index: 1;
    opacity: .4;
}



@media (max-width: 1026px) {
    .serve_cardsWrapper {
        grid-template-columns: 1fr 1fr;
    }
}



@media (max-width: 550px) {
    .whoDoWeServe_wrapper {
        gap: 4rem;
    }

    .whoDoWeServe_title {
        font-size: 13vw;
        max-width: 100%;
    }

    .serve_topContainer>p {
        font-size: 14px;
        max-width: 85%;
    }

    .serve_cardsWrapper {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 1rem;
    }

    .centre_blob_serve {
        width: 100vw;
    }


}